.form {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.locationGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;
}

.locationLabel {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: rgba(16, 24, 40, 0.6);
}

.locationField {
  position: relative;
}

.locationInput {
  border-radius: 10px;
  padding: 18px 218px 18px 44px;
  width: 360px;
  height: 56px;
  border: none;
  outline: none;
  background: var(--inputs);
  transition: border-color 0.3s ease;
}

.iconLocation {
  position: absolute;
  left: 18px;
  top: 18px;
  fill: none;
  stroke: var(--main);
}

.filtersGroup {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.filtersTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}

.filtersBoxes {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.checkboxBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.checkboxTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}

.line {
  border-top: 1px solid rgba(16, 24, 40, 0.1);
}

.checkboxList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.checkboxItem {
  display: inline-flex;
}

.checkboxVisuallyHidden {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: 0px;
  border: 0;
  padding: 0;
}

.labelBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  width: 114px;
  height: 95px;
  transition: 300ms;
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  border: 1px solid var(--button);
}

.icon {
  fill: none;
  stroke: var(--main);
}

.checkBoxText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--main);
}

.radioBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.radioList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.iconForm {
  fill: var(--main);
}

input[type="radio"]:checked + label {
  border: 1px solid var(--button);
}

.btnBox {
  display: flex;
  justify-content: space-between;
}

.submitButton {
  border-radius: 200px;
  padding: 16px 60px;
  width: 173px;
  height: 56px;
  background: var(--button);
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;
  transition: 0.3s;
  margin-top: 64px;
}

.submitButton:hover {
  background: var(--buttonHover);
}
