.catalogList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.catalogItem {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 358px;
  background: #fff;
  display: flex;
  gap: 24px;
}

.notFound {
  text-align: center;
  margin-top: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
  color: var(--text);
}
